@page
@model Proiect_WebApp.Pages.Teachers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Teacher.nume" class="control-label"></label>
                <input asp-for="Teacher.nume" class="form-control" />
                <span asp-validation-for="Teacher.nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.prenume" class="control-label"></label>
                <input asp-for="Teacher.prenume" class="form-control" />
                <span asp-validation-for="Teacher.prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.telefon" class="control-label"></label>
                <input asp-for="Teacher.telefon" class="form-control" />
                <span asp-validation-for="Teacher.telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.data_angajarii" class="control-label"></label>
                <input asp-for="Teacher.data_angajarii" class="form-control" />
                <span asp-validation-for="Teacher.data_angajarii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.scoala" class="control-label"></label>
                <input asp-for="Teacher.scoala" class="form-control" />
                <span asp-validation-for="Teacher.scoala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.materie" class="control-label"></label>
                <input asp-for="Teacher.materie" class="form-control" />
                <span asp-validation-for="Teacher.materie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
