@page
@model Proiect_WebApp.Pages.Grades.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Grade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Grade.nota" class="control-label"></label>
                <input asp-for="Grade.nota" class="form-control" />
                <span asp-validation-for="Grade.nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.data" class="control-label"></label>
                <input asp-for="Grade.data" class="form-control" />
                <span asp-validation-for="Grade.data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.materie" class="control-label"></label>
                <input asp-for="Grade.materie" class="form-control" />
                <span asp-validation-for="Grade.materie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.elev" class="control-label"></label>
                <input asp-for="Grade.elev" class="form-control" />
                <span asp-validation-for="Grade.elev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
